$color-primary: #000;
$color-primary-light: #fff;
$color-primary-dark: #14A5DA;
$color-secondary: #E76400;
$color-secondary-light: #DCE5E9;
$color-secondary-dark: #001F2B;
html {
  height: 100%;
}

html {
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: $color-primary;
  margin: 0;
  // background-color: red;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site_content {
  flex: 1;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: $color-primary;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .header_menu, .header_auth-menu {
    display: none !important;
  }
  .title {
    font-size: 16px !important;
  }
}